
<div class="container">
  <section class="big-product" style="background-color: #abd7c0; margin: 0 auto;">
    <div class="row" style="height: 85vh;">
      <div class="col-md-3 product align-self-end d-none d-md-block"><%= image_tag "home-left.png", :class => "img-fluid" %></div>
      <div class="col-md-5 align-self-center">
        <center><h1 style="color: #792A1B">Connect to Experienced Digital Marketers</h1>
        <h3 style="color: #792A1B">Reach Your Customers Efficiently and Effectively</h3><br>
<!--         <p class="lead">And an even wittier subheading.And an even wittier subheading.And an even wittier subheading.And an even wittier subheading.</p> -->
        <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-danger text-uppercase js-scroll-trigger" %></center><br><br>
      </div>

      <div class="col-md-4 product align-self-end d-none d-md-block">
        <%= image_tag "home-right.png", :class => "img-fluid" %>
      </div>
    </div>
  </section>
</div>

<div class="jumbotron" style="margin: 0 5%; color: #792A1B">
  <%= image_tag "card-pic.png", :class => "float-right-small" %>
  <h1 class="display-5" style="color: #792A1B">Digital marketing done for you.</h1>
  <h2 style="color: #792A1B">Have ad agencies bid on your campaign.</h2>
  <p class="lead">Clairvoyance connects you with the right digital marketing agency. Our platform allows you to post your ad campaigns and have specialized agencies bid on them. We put you in touch with the agencies upon your selection, and paying is made easy through our platform, as you have a chance to review the contract between you and your chosen agency before transfering any fees.</p>
  <hr class="my-4">
  <p>Our agencies are all verified. Please take your time to read our disclaimer on the use of our services.</p>
  <p class="lead" >
    <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-danger btn-lg" %>
  </p>
</div>
<br>
