<div class="jumbotron" style="margin: 1% 8%;">
    <% if current_user.agency == false %>
       <h2 class="display-5">Your Campaigns <%= link_to "(add a new campaign)", new_project_path, :style => "text-decoration: none" %></h2>
       <br>

       <center>
        <div class="container">
          <div class="row">
            <% current_user.projects.each do |project| %>
              <div class="col-sm-6" style>
                <div class="card" style="background: #DE6262; background: -webkit-linear-gradient(to right, #FFB88C, #DE6262); background: linear-gradient(to right, #FFB88C, #DE6262); border: 2px solid #E9D6E3;">

                  <div class="card-category">Campaign: <%= project.name %><br>Budget ($USD): <%= number_with_delimiter(project.budget) %></div>
                  <div class="card-description">
                    <% if project.proposals.none? { |proposal| proposal.accepted } %>
                    <h4 class="card-title">Proposals Received: <%= project.proposals.count %></h4>
                    <% elsif project.proposals.any? { |proposal| proposal.contract } %>
                    <h4 class="card-title">Contract Available</h4>
                    <% elsif project.proposals.any? { |proposal| proposal.accepted } %>
                    <h4 class="card-title">Proposal Accepted</h4>
                    <% end %>
              <h5>
                <%= link_to "See Details", project_path(project.id), class: "btn btn-success" %>
                <% if project.proposals.none? { |proposal| proposal.accepted } %>
                <%= link_to "See Proposals", project_proposals_path(project.id), class: "btn btn-danger" %></h5>
                <% elsif project.proposals.any? { |proposal| proposal.accepted } %>
                <%= link_to "See Accepted", project_proposal_path(project.id, project.proposals.where(accepted: true).first), class: "btn btn-danger" %></h5>
                  <% end %>
                  </div>

                  <%= image_tag "card-pic2.png", :class => "card-user" %>
<!--                   <a class="card-link" href="<%#= animal_path(x) %>" ></a> -->
                </div>
                <br>
              </div>
            <% end %>
          </div>
        </div>
      </center>

              <br><br><h2 class="display-5">Alternate Ad Sources</h2>

          <div class="card-white">
            <h2><%= link_to image_tag("google_adwords.png"), "https://adwords.google.com", target: :blank %></h2>
            <br><br>
            <p>Text search ads, display ads using banners, YouTube video ads, mobile ads shown in the app. Should you wish to use this service you can <%= link_to "click here.", "https://adwords.google.com/", target: :blank %></h2></p>
          </div>
          <div class="card-white">
            <h2><%= link_to image_tag("facebook-business.png"), "https://www.facebook.com/business/", target: :blank %></h2>
            <br><br>
            <p>Facebook Business covers advertising on all Facebook companies including Instagram, Messenger and Audience Network. Should you wish to advertise on this platform yourself, <%= link_to "click here", "https://www.facebook.com/business/", target: :blank %> to start.</p>
          </div>
          <div class="card-white">
            <h2><%= link_to image_tag("bing-ads.png"), "https://secure.bingads.microsoft.com", target: :blank %></h2>
            <br><br>
            <p>Bing is the most widely used search engine in many parts of the world, the advertising platform allows. Reach millions of people around the world on the Bing Network by country, city or within a specific distance. To advertise on Bing <%= link_to "click here", "https://secure.bingads.microsoft.com/", target: :blank %>.</p>
          </div>
          <div class="card-white">
            <h2><%= link_to image_tag("twitter.png"), "https://ads.twitter.com", target: :blank %></h2>
            <br><br>
            <p>Track the growth of your follower base and see how people engage with every single Tweet. Also advertise for to your target market even if they do not follow you on the platform. to advertise independently on Twitter, <%= link_to "click here", "https://ads.twitter.com", target: :blank %>.</p>
          </div>


     <br><br><h2 class="display-5">Recommended agencies/services <%= link_to "(advertise here)", contact_path, :style => "text-decoration: none" %></h2>

          <div class="card-white">
            <h2><%= link_to image_tag("adgo.png"), "https://www.adgo.io/", target: :blank %></h2>
            <br><br>
            <p>Adgo is an intelligent platform for managing and optimizing campaigns across multiple channels. It bridges brand and performance marketing by delivering personalized touch points to create a seamless experience. <%= link_to "Click here", "https://www.adgo.io/", target: :blank %>.</h2></p>
          </div>

    <% end %>



    <% if current_user.agency == true %>
    <h2 class="display-5">Your Bids for Ad Campaigns <%= link_to "(add additional bids)", projects_path, :style => "text-decoration: none" %></h2>

      <br>
       <center>
        <div class="container">
          <div class="row">
            <% current_user.proposals.each do |pro| %>
              <div class="col-sm-6" style>
                <div class="card" style="background: #DE6262; background: -webkit-linear-gradient(to right, #FFB88C, #DE6262); background: linear-gradient(to right, #FFB88C, #DE6262); border: 2px solid #E9D6E3;">

                  <div class="card-category">Campaign: <%= pro.project.name %><br>Your Bid ($USD): <%= number_with_delimiter(pro.bid_amount) %></div>
                  <div class="card-description">
                      <% if pro.accepted == true %>
                      <h4 class="card-title">Bid Status: Accepted</h4>
                       <h5><%= link_to "Submit Your Contract", new_project_proposal_contract_path(pro.project, pro), class: "btn btn-success float-left" %></h5>
                      <% else %>
                      <h4 class="card-title">Bid Status: Pending</h4>
                      <h5><%= link_to "See Details", project_path(pro.project), class: "btn btn-success float-left" %></h5>
                      <% end %>
                  </div>
                  <%= image_tag "card-pic2.png", :class => "card-user" %>
<!--                   <a class="card-link" href="<%#= animal_path(x) %>" ></a> -->
                </div>
                <br>
              </div>
            <% end %>
          </div>
        </div>
      </center>


                   <br><br><h2 class="display-5">Top 3 Most Requested Ad Platforms</h2>

          <div class="card-white">
            <h2><%= link_to image_tag("facebook-business.png"), "https://www.facebook.com/business/", target: :blank %></h2>
            <br><br>
            <p>Facebook Business covers advertising on all Facebook companies including Instagram, Messenger and Audience Network. Should you wish to advertise on this platform yourself, <%= link_to "click here.", "https://www.facebook.com/business/", target: :blank %> to start.</p>
          </div>
          <div class="card-white">
            <h2><%= link_to image_tag("google_adwords.png"), "https://adwords.google.com", target: :blank %></h2>
            <br><br>
            <p>Text search ads, display ads using banners, YouTube video ads, mobile ads shown in the app. Should you wish to use this service you can <%= link_to "click here.", "https://adwords.google.com/", target: :blank %></h2></p>
          </div>
          <div class="card-white">
            <h2><%= link_to image_tag("twitter.png"), "https://ads.twitter.com", target: :blank %></h2>
            <br><br>
            <p>Track the growth of your follower base and see how people engage with every single Tweet. Also advertise for to your target market even if they do not follow you on the platform. to advertise independently on Twitter, <%= link_to "click here", "https://ads.twitter.com", target: :blank %>.</p>
          </div>


     <br><br><h2 class="display-5">Recommended services <%= link_to "(advertise here)", contact_path, :style => "text-decoration: none" %></h2>

          <div class="card-white">
            <h2><%= link_to image_tag("adgo.png"), "https://www.adgo.io/", target: :blank %></h2>
            <br><br>
            <p>Adgo is an intelligent platform for managing and optimizing campaigns across multiple channels. It bridges brand and performance marketing by delivering personalized touch points to create a seamless experience. <%= link_to "Click here", "https://www.adgo.io/", target: :blank %>.</h2></p>
          </div>
<% end %>
<br><br>
<div class="container">
  <section class="big-product">
    <div class="row" style="height: 30vh;">
      <div class="col-md-3 product align-self-end d-none d-md-block"></div>
      <div class="col-md-6 align-self-center">
        <%= image_tag "together-success.png", class: "img-fluid" %>
      </div>
      <div class="col-md-3 product align-self-end d-none d-md-block">
      </div>
    </div>
  </section>
</div>


