  <br>
  <div class="form-control formatted-page-expanded">
    <% if current_user.agency == false %>
     <h2><%= link_to "SUBMIT A CAMPAIGN", new_project_path, class: "btn btn-danger text-uppercase js-scroll-trigger" %></h2>
       <br><br><h2>Your Campaigns</h2>
          <% current_user.projects.each do |project| %>

              <img src="" alt="">

              <div class="card" style="background-image: url('<%= image_path('advertising-photo.jpg') %>')">
                <div class="card-category">Pending</div>
                <div class="card-description">
                  <h2>Name: <%= project.name %></h2>
                  <p>Budget: <%= project.budget %></p>
                  <p>Tags: <%= project.tags %></p>
                  <p>Active Proposals <%= project.proposals.count %></p>
                </div>
                <!-- <a class="card-link" href="#" ></a> -->
                <%= link_to "", project_path(project.id), class: "card-link" %>
              </div>

          <% end %>

              <br><br><h2>Alternate Ad Sources</h2>

          <div class="card-white">
            <h1>Google Adwords</h1>
            <br><br>
            <p>You can try it yourself, but we know how that turns out.</p>
          </div>
    <% end %>

    <% if current_user.agency == true %>
     <h2><%= link_to "SEARCH FOR CAMPAIGN", projects_path, class: "btn btn-danger text-uppercase js-scroll-trigger" %></h2>

    <% end %>






      </div>
