<div class="jumbotron" style="margin: 1% 8%;">
    <% if current_user.agency == false %>
       <h2 class="display-5">Your Campaigns</h2>


<center>
  <div class="container">
    <div class="row">
      <% current_user.projects.each do |project| %>
          <div class="card text-white bg-primary mb-4" style="max-width: 20rem; margin: 15px;">
            <div class="card-header"><%= project.name %><br>Budget: &#036;<%= project.budget %></div>
            <div class="card-body">
              <h4 class="card-title">Proposals Received: <%= project.proposals.count %></h4>
              <p class="card-text">
                <%= link_to "See Details", project_path(project.id), class: "btn btn-danger" %>
                <%= link_to "See Proposals", project_proposals_path(project.id), class: "btn btn-danger" %></p>
            </div>
          </div>
      <% end %>
      <div class="card text-white bg-primary mb-4" style="max-width: 20rem; margin: 15px;">
            <div class="card-body">
              <h2 class="card-title"><%= link_to "(Add a New Campaign)", new_project_path, :style => "text-decoration: none" %></h2>
              <p class="card-text">

            </div>
          </div>
    </div>
  </div>
</center>


              <br><br><h2 class="display-5">Alternate Ad Sources</h2>

          <div class="card-white">
            <h1><%= link_to "Google Adwords", "https://adwords.google.com/intl/ja_jp/home/#?modal_active=none", target: :blank %></h1>
            <br><br>
            <p>You can try it yourself, but we know how that turns out.</p>
          </div>
    <% end %>

    <% if current_user.agency == true %>
     <h2><%= link_to "SEARCH FOR CAMPAIGN", projects_path, class: "btn btn-danger text-uppercase js-scroll-trigger" %></h2>
      <br><br><h2>Your Campaign Bids</h2>
          <% current_user.proposals.each do |pro| %>

              <img src="" alt="">

              <div class="card" style="background-image: url('<%= image_path('advertising-photo.jpg') %>')">
                <div class="card-category">Pending</div>
                <div class="card-description">
                  <h2>Name: <%= pro.project.name %></h2>
                  <p>Your Bid: <%= pro.bid_amount %></p>
                  <% if pro.accepted == true %>
                  <p>Status: Accepted</p>
                  <h5><%= link_to "Submit Your Contract", new_project_proposal_contract_path(pro.project, pro) %></h5>
                  <% else %>
                  <p>Status: Pending</p>
                  <% end %>
                </div>
                <!-- <a class="card-link" href="#" ></a> -->
                <%#= link_to "", project_path(project.id), class: "card-link" %>
              </div>

    <% end %>
    <% end %>






      </div>
