
  <div style="background-color: #f4ebe3;">
<!--     <div class="intro-text"> -->
      <h2>Available ad campaigns:</h2>
        <%= form_tag projects_path, method: :get do %>
          <%= select_tag :tags, options_for_select(@projects.pluck(:tags).uniq.reject(&:blank?), selected: params[:tags]), include_blank: "All", onchange: "this.form.submit()"%>
          <%#= button_tag(type: "submit") do %>
            <%#= content_tag(:strong, 'Search') %>
          <%# end %>
      <% end %>

        <% @projects.each do |project| %>
          <hr>
          <p><strong>Project name:</strong> <%= project.name %></p>
          <p><strong>Duration:</strong> <%= project.duration %></p>
          <p><strong>Description:</strong> <%= project.description %></p>
          <p><strong>Difficulty:</strong> <%= project.difficulty %></p>
          <p><strong>Budget:</strong> <%= project.budget %></p>
          <p><strong>Applicable tags:</strong> <%= project.tags %></p>
          <p><%= link_to "View Project", project_path(project), class: "btn btn-success text-uppercase js-scroll-trigger" %></p>
          <hr>
        <% end %>
<!--       </div> -->
    </div>

<!-- class="form-control formatted-page"  -->
