

<style>
/*input {
  display: none;
  visibility: hidden;
}*/
label#toggler {
  display: block;
  padding: 0.5em;
  /*text-align: center;*/
  border-bottom: 1px solid #CCC;
  /*color: #666;*/
}
label#toggler:hover {
  /*color: #000;*/
}
label#toggler::before {
  /*font-family: Consolas, monaco, monospace;*/
/*  font-weight: bold;
  font-size: 15px;
  content: "+";*/
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}
#expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
  /*background: url(http://placekitten.com/g/600/300);*/
  /*color: #FFF;*/
}
section {
  padding: 0 20px;
}
#toggle:checked ~ #expand {
  min-height: 400px;
  overflow-y: scroll;
}
/*#toggle:checked ~ label#toggler::before {
  content: "-";
}*/
  </style>


<div class="jumbotron" style="margin: 1% 8%;">
  <h2 class="display-5 centered-button">Submit a Campaign</h2>
  <br>


    <!-- <form> -->
    <%= simple_form_for @project do |f| %>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.input :name, label: 'CAMPAIGN TITLE:' %>
        </div>
        <div class="form-group col-md-6">
          <%= f.input :duration, label: 'Specify its duration:' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.input :description, label: "Describe your goal in a sentence:" %>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.input :budget, label: 'Expected budget ($USD):' %>
       </div>
        <div class="form-group col-md-6">
          <%= f.input :tags, label: "Your industry in 1-3 keywords:" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.input :problems, label: 'The problem your product or service is trying to solve:' %>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.input :target_audience, label: 'Your target audience:' %>
       </div>
        <div class="form-group col-md-6">
          <%= f.input :tactic, label: 'Any previously utilized successful marketing tactics?' %>
        </div>
      </div>

      <center>
        <p>To receive additional support from specialists, please provide ONE or more optional answers by clicking below:</p>
      </center>
        <input id="toggle" type="checkbox" style="display: none; visibility: hidden;">
        <label for="toggle" id="toggler" class="btn btn-info">Optional Questions</label>

      <div id="expand">
        <section>
          <div class="form-row">
            <div class="form-group col-md-6">
              <%= f.input :difficulty, as: :select, include_blank: false, collection: ['None', '1-2', '2-5', 'Many more than that'], label: 'How many of these or other ad tools have you used? (Google Adsense, Facebook Ads, Twitter Ads, Youtube, Linkedin)' %>
            </div>
            <div class="form-group col-md-6">
              <%= f.input :metrics, label: 'Which is the single most important metric you are interested in improving?', as: :select, include_blank: true, collection: ['Clicks', 'Conversions [Sales/Leads]', 'Followers', 'Visitors', 'Subscribers', 'Return on Ad Spendings'] %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <%= f.input :visiting, label: 'What do you want your users to do on your website the most?', as: :select, include_blank: true, collection: ['Buy a physical product', 'Buy a digital product', 'Purchase a recurring subscription', 'Buy a non-digital service', 'Provide feedback to you in the form of a survey', 'Use your free service', 'Other'] %>
            </div>
            <div class="form-group col-md-6">
              <%= f.input :in_house, as: :select, include_blank: false, collection: ['No', 'Yes', 'I am considering such an option'], label: 'Do you currently have designers or web developers in-house?' %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <%= f.input :agencies, label: 'Have you worked with any ad agencies before? What made you change agencies?' %>
           </div>
            <div class="form-group col-md-6">
              <%= f.input :values, label: 'Very shortly, in a sentence or two: what values and beliefs define your brand?' %>
            </div>
          </div>
        </section>
      </div>

      <!-- <div class="col-xs-4 col-xs-offset-3"> -->

      <br>
      <div class="centered-button">
        <%= f.button :submit, "Submit Your Campaign", class: "btn btn-danger" %>

      <% end %>
      </div>
      <!-- </div> -->


    <!-- </form> -->
</div>



<!-- add_column :projects, :goal, :text
    add_column :projects, :target_audience, :text
    add_column :projects, :info, :text
    add_column :projects, :current_tools, :string
    add_column :projects, :problems, :string
    add_column :projects, :metrics, :string
    add_column :projects, :visiting, :string
    add_column :projects, :season, :string
    add_column :projects, :in_house, :boolean
    add_column :projects, :agencies, :text
    add_column :projects, :non_profit, :text
    add_column :projects, :current_metrics, :boolean
    add_column :projects, :values, :text
    add_column :projects, :tactic, :text -->
