<div class="jumbotron" style="margin: 1% 8%;">
<!--     <div class="intro-text"> -->

      <%= image_tag "together-2.png", :class => "float-right-medium-plus d-none d-md-block", style: "max-height: 60vh;" %>

      <h2 class="display-5">Campaign Title: <%=  "#{@project.name}" %></h2>
      <h3 class="display-5">Proposals Received from Digital Agencies:</h2>
        <br>
    <% @proposals.each do |proposal| %>
      <p class="lead"><strong>Agency:</strong> <%= proposal.agency.business_name %></p>
      <p class="lead"><strong>Expected Cost($USD):</strong> <%= number_with_delimiter(proposal.bid_amount) %></p>
      <%= link_to "See Details", project_proposal_path(proposal.project, proposal), class: "btn btn-danger text-uppercase js-scroll-trigger" %>
      <br><br><br>
    <% end %>
    <br>
</div>
