<div class="jumbotron" style="margin: 1% 8%;">
<!--     <div class="intro-text"> -->

      <%= image_tag "together-3.png", :class => "float-right-medium-plus d-none d-md-block", style: "max-height: 60vh;" %>
      <h2 class="display-5">Proposal from <%= @proposal.agency.business_name %></h2><br>

        <p class="lead"><strong>Description:</strong> <%= @proposal.description %></p>
        <p class="lead"><strong>Expected Cost:</strong> $<%= @proposal.bid_amount %></p>
        <% if @proposal.pdf.present? == true %>
        <p class="lead"><%= link_to "Detailed Proposal", @proposal.pdf_url, target: :blank, class: "btn btn-danger text-uppercase js-scroll-trigger" %></p>
          <% else %>
        <p class="lead">This Agency Has Not Uploaded a .PDF File With a Detailed Proposal</p>
        <% end %>

        <% unless @proposal.contract.nil? %>


        <%= link_to "Download Contract", @contract.pdf_url, target: :blank, class: "btn btn-danger text-uppercase js-scroll-trigger" %>
        <% end %>
        <br><br>

        <% if current_user.agency == false && @proposal.accepted == false %>
        <%= simple_form_for [@project, @proposal] do |f| %>

          <p class="lead"><%= f.input :accepted, label: "Would You Like to Accept This Proposal?", as: :boolean, checked_value: true %></p>

          <%= f.button :submit, class: "btn btn-danger" %>
        <% end %>
        <% end %>
