
<div class="jumbotron" style="margin: 1% 8%;">
  <%= @proposal.agency.business_name %>
  <%= @proposal.description %>
  <%= @proposal.bid_amount %>
  <%= link_to "download", @proposal.pdf_url, target: :blank %>
  <br><br>
  <br><br>
 <% if current_user.agency == false && @proposal.accepted == false %>
<%= simple_form_for [@project, @proposal] do |f| %>

  <h4><%= f.input :accepted, label: "Would You Like to Accept This Proposal?", as: :boolean, checked_value: true %></h4>

  <%= f.button :submit %>
<% end %>
</div>

